<div class="container-fluid">
  <h1 class="custommargin">{{LopHocPhan.TenLopHocPhan}}</h1>
  <div class="row">
    <div class="col-md-5 custompadding">
      <img class="chitiethinh"
        src="https://drive.google.com/uc?id={{LopHocPhan.HinhAnh}}"
        alt="">
    </div>
    <div class="col-md-7 custompadding">
      <form>
        <div class="row"> 
          <div class="col">
            <div class="form-group">
              <label for="selectthongtin" class="input-lg">Thông tin lớp học</label>
              <select [(ngModel)]="selectedThongTinLopHoc" name="something" class="form-control input-lg" id="selectthongtin">
                <option *ngFor="let ttlh of thongtinlophoc" value="{{ttlh.IDLopHoc}}">
                  {{ttlh.ThongTinLopHoc}}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="selectThuTrongTuan" class="input-lg">Chú thích giờ ca học</label>
              <p class="input-lg">Ca 1(7h-9h); Ca 2(9h15-11h15); Ca 3(13h-15h); Ca 4(15h15-17h15); Ca 5(19h-21h)</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="hoten" class="input-lg">Học phí: {{LopHocPhan.HocPhi | number}} VNĐ</label>
        </div>
        <div class="form-group">
          <label for="hoten" class="input-lg">Số buổi: {{LopHocPhan.SoBuoi}}</label>
        </div>
        <div class="form-group">
          <label for="hoten" class="input-lg">Mô tả:</label>
          <p class="input-lg">{{LopHocPhan.MoTa}}</p>
        </div>
      </form>
      <button class="btn btn-success custommarginBtn" (click)="dangki()">Đăng kí lớp học</button>
    </div>
  </div>
</div>