<div class="container-fluid">
  <h1 class="custommargin">Lớp học toeic</h1>
  <div class="row">
    <div class="col-md-5 custompadding">
      <img class="chitiethinh"
        src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/31044378_187203928586240_925501839527378944_n.jpg?_nc_cat=105&_nc_sid=8024bb&_nc_ohc=Tp_AFy5MaxwAX-z3D1d&_nc_ht=scontent.fvca1-1.fna&oh=f5e5056d3efc94ffa4695f54b1708553&oe=5EC2BCE3"
        alt="">
    </div>
    <div class="col-md-7 custompadding">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="selectCaHoc" class="input-lg">Ca học:</label>
              <select class="form-control input-lg" id="selectCaHoc">
                <option>Ca 1 (7h-9h)</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="selectThuTrongTuan" class="input-lg">Buổi học:</label>
              <select class="form-control input-lg" id="selectThuTrongTuan">
                <option>Thứ 2 - Thứ 4 - Thứ 6</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="hoten" class="input-lg">Học phí: 8000000 VNĐ</label>
        </div>
        <div class="form-group">
          <label for="hoten" class="input-lg">Mô tả:</label>
          <p class="input-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima tempore asperiores, eligendi quas eveniet expedita velit mollitia ad saepe 
            molestias ex omnis consequuntur nulla in consequatur quidem adipisci enim quis!</p>
        </div>
        <Button class="btn btn-success custommarginBtn">Đăng kí lớp học</Button>
      </form>
    </div>
  </div>
</div>